{
	"globals": {
		"State": "readonly",
		"Engine": "readonly",
		"Selectors": "readonly",
		"Macro": "readonly",
		"macros": "readonly",
		"state": "readonly",
		"prerender": "readonly",
		"story": "readonly",
		"$": "readonly"
	}
}
